include include.pug
include js-css.pug
include ../blocks/top-nav/_top-nav.pug
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		block title
			title title
		meta(name="description", content="о чем страница")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		//- meta(name="viewport", content="width=device-width, shrink-to-fit=no")
		//- meta(name="viewport",  content="width=575,   maximum-scale=1 , user-scalable=0, shrink-to-fit=no")
		//- script.
		//- 	let viewport = document.querySelector("meta[name=viewport]");
		//- 	var is_safari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
		//- 	if (is_safari) {
		//- 		//- alert(navigator.userAgent);
		//- 		function w() {
		//- 			this.outerWidth > 575 
		//- 				? viewport.content = "width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" 
		//- 				:  viewport.content = "width=575,   maximum-scale=1 , user-scalable=0, shrink-to-fit=no" 
		//- 			//- alert(this.outerWidth + ', '+  viewport.content);
		//- 		}
		//- 		 w();
		//- 		window.addEventListener('resize', () => { 
		//- 		 w();
		//- 		}, { passive: true });
		//- 	}
		meta(name="viewport", content="width=device-width,initial-scale=1.0,  shrink-to-fit=no, viewport-fit=cover")
		link(type="image/ico", href='img/favicon.ico', rel='shortcut icon') 
		<meta name="format-detection" content="telephone=no"> 
		+allcss()
		script.
			function addBlock(elem) {
				fetch(`parts/${elem}.html`)
					.then(response => response.text())
					.then( text => {
						const wrap = document.querySelector(`#${elem}Wrap`);
						wrap.insertAdjacentHTML('afterend', text);
						wrap.previousElementSibling.remove()
						wrap.remove();
					});
			}
	block variables
	//- style.
	//- 	.loaded_hiding {  opacity: 0; pointer-events: none;  } .loaded_hiding::before { display: none; }
	//- body.loaded_hiding(class= mainPage) 
	body(class=mainPage data-bg=bg)
		+b.toggl-menu-container
			.container-xl-fluid.container
				.ms-auto
					.fixed-btn-wrap
						+b.toggle-menu-mobile--js
							span
					.fixed-btn-wrap.fixed-btn-wrap--footer
						+b.arrow-up--js()
							+icon("chevron-up")
		+b.menu-mobile.menu-mobile--js
			.menu-mobile__inner
				+e.head.container-xl-fluid.container

					+iconC("menu")
					a(href="/")
						img(src="img/logo.svg", alt="")
					+menu-toggle()

				+mnu()
				+b.footer.container-xl-fluid.container
					.row
						.col-md-auto.col
							.row
								.col-auto
									+e.link(href="tel:+7(800)8000000") +7 (800) 800 0000  
								.col-auto
									+e.link(href="mailto:premia@runet.group") premia@runet.group
						.col-auto
							+e.link(href="#")
								+icon('vk') 
		.scroller
			.main-wrapper
				block pagecontent
					h3 content
			

		+allcjs()
		block scripts